@import 'tailwindcss';

@plugin 'daisyui';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


@plugin "daisyui/theme" {
    name: "GeDocs";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(35.519% 0.032 262.988);
    --color-primary: #3F9964;
    --color-primary-content: oklch(33.387% 0.04 162.24);
    --color-secondary: #3CACBB;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #50E5F9;
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: #010515;
    --color-neutral-content: oklch(98.462% 0.001 247.838);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: #69BE3F;
    --color-success-content: oklch(0% 0 0);
    --color-warning: #FBC311;
    --color-warning-content: oklch(0% 0 0);
    --color-error: #FEAC94;
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
